# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [ ]:
%pip install pymongo

In [1]:
from pymongo import MongoClient

In [2]:
cursor=MongoClient()

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'quizzes']

In [5]:
db=cursor.nueva_db   # crea base de datos vacia

In [6]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'quizzes']

In [7]:
colec = db.n_colec   # nueva coleccion

In [8]:
db.list_collection_names()

[]

In [10]:
dictio = {'nombre': 'Manolo', 'edad': 39, '4': [1,2,3,4]}

colec.insert_one(dictio)

In [11]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'nueva_db', 'quizzes']

In [12]:
db.list_collection_names()

['n_colec']

In [15]:
dictio = {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39,'que te pasa':0}

colec.insert_one(dictio)

In [16]:
# insertar varios

# Equivalente SQL

# insert into colec (columnas) values (valores);

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]


colec.insert_many(json)

In [17]:
# select * from colec;

colec.find()

In [18]:
list(colec.find())

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [19]:
res=list(colec.find())

In [20]:
res[0]

{'_id': ObjectId('644a2662b9f7330a8c99202a'),
 'nombre': 'Manolo',
 'edad': 39,
 '4': [1, 2, 3, 4]}

In [21]:
import pandas as pd

pd.DataFrame(res)

,_id,nombre,edad,4,hola,altura,5,que te pasa,id,actividad,lugar
0,644a2662b9f7330a8c99202a,Manolo,39.0,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,644a26a4b9f7330a8c99202b,NaN,NaN,NaN,carahuevo,0.39,"[1, 2, 3, 4]",0.0,NaN,NaN,NaN
2,644a26f1b9f7330a8c99202c,NaN,NaN,NaN,carahuevo,0.39,"[1, 2, 3, 4]",0.0,0.0,NaN,NaN
3,0,NaN,NaN,NaN,carahuevo,0.39,NaN,0.0,NaN,NaN,NaN
4,644a272cb9f7330a8c99202d,yo,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,natacion,aqui

In [24]:
type(res[0]['4'])

list

### Queries

In [25]:
# select * from colec;

list(colec.find())

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [26]:
# select * from colec where edad=39;

query={'edad': 39}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]}]

In [27]:
# select * from colec where hola=carahuevo;

query={'hola': 'carahuevo'}

list(colec.find(query))

[{'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0}]

In [28]:
# select * from colec where edad>=39;

query={'edad': {'$gte': 39}}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]}]

In [29]:
# select * from colec where edad<=39;

query={'edad': {'$lte': 39}}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38}]

In [30]:
# select * from colec where edad!=39;

query={'edad': {'$ne': 39}}

list(colec.find(query))

[{'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [31]:
# select * from colec where edad<40 and edad>24;
# select * from colec where edad between (40, 24);

query={'$and': [{'edad': {'$lt': 40}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38}]

In [32]:
# select * from colec where edad<40 or edad>24;

query={'$or': [{'edad': {'$lt': 40}},
                {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38}]

In [33]:
query

{'$or': [{'edad': {'$lt': 40}}, {'edad': {'$gt': 24}}]}

In [34]:
# select * from colec where edad!=38 limit 2;

query={'edad': {'$ne': 38}}

list(colec.find(query).limit(2))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0}]

In [35]:
# select * from colec where edad<40 or hola!=carahuevo;

query={'$or': [{'edad': {'$lt': 40}},
                {'hola': {'$ne': 'carahuevo'}}]}

list(colec.find(query))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [38]:
# select * from colec where edad!=38 order by edad desc limit 3;

query={'edad': {'$ne': 38}}

res=colec.find(query).sort('edad', 1).limit(3)

list(res)   # sort 1 asc, sort -1 desc

[{'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0}]

In [44]:
# actualizar registro

colec.update_one({'_id': 1}, {'$set': {'lugar2': 'Madrid'}})

In [45]:
list(colec.find({'_id': 1}))

[{'_id': 1, 'actividad': 'natacion', 'lugar': 'Barna', 'lugar2': 'Madrid'}]

In [46]:
colec.update_many({'edad': 39}, {'$set': {'nombre': 42}})

In [47]:
list(colec.find({'edad': 39}))

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 42,
  'edad': 39,
  '4': [1, 2, 3, 4]}]

In [62]:
# select nombre from colec where edad=39;

query={'edad': 39}

select = {'_id': 0, 'nombre': 1} # 0 es que no venga, 1 es que venga, es para columnas

res=colec.find(query, select)

list(res)

[]

In [53]:
# delete from colec where _id=0;

colec.delete_one({'_id': 0})

In [54]:
list(colec.find({'_id': 0}))

[]

In [55]:
# delete from colec where nombre=42;

colec.delete_one({'nombre': 42})

In [56]:
list(colec.find({'nombre': 42}))

[]

In [57]:
# select count(*) from colec group by _id;     #por cada id suma 1

list(colec.aggregate([{'$group': {'_id': '', 
                                  'count': {'$sum': 
                                            1}}}]))

[{'_id': '', 'count': 4}]

In [61]:
list(colec.find({'hola': 'carahuevo'}))

[{'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0}]

In [63]:
colec.drop()   # borra coleccion

In [64]:
db.list_collection_names()

[]

In [65]:
cursor.list_database_names()

['admin', 'config', 'ironcomes', 'local', 'quizzes']

### DB Companies

In [66]:
cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [67]:
db=cursor.companies

In [68]:
colec=db.companies

In [71]:
res=colec.find().limit(1)

list(res)[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [72]:
# select name, category_code from colec where category_code in ('web', 'ecommerce') limit 10;

# por "filas", dame los registros con estos category_code
query={'$or': [{'category_code': 'web'},
               {'category_code': 'ecommerce'}]}



# por columnas, dame solo las dos columnas
select={'name': True, 'category_code': True, '_id': False}



res=colec.find(query, select).limit(10)


list(res)

[{'name': 'Wetpaint', 'category_code': 'web'},
 {'name': 'Postini', 'category_code': 'web'},
 {'name': 'Geni', 'category_code': 'web'},
 {'name': 'Fox Interactive Media', 'category_code': 'web'},
 {'name': 'StumbleUpon', 'category_code': 'web'},
 {'name': 'Gizmoz', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Viacom', 'category_code': 'web'},
 {'name': 'Plaxo', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'}]

In [73]:
# select founded_year, name 
# from colec where category_code=web and founded_year<=2002 limit 10;

# por "filas", dame los registros category_code
query={'$and': [{'category_code': 'web'},
                {'founded_year': {'$lte': 2002}}]}


# por columnas, dame solo las dos columnas
select={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, select).limit(10))

[{'name': 'Postini', 'category_code': 'web', 'founded_year': 1999},
 {'name': 'Fox Interactive Media',
  'category_code': 'web',
  'founded_year': 1979},
 {'name': 'StumbleUpon', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'eBay', 'category_code': 'web', 'founded_year': 1995},
 {'name': 'Viacom', 'category_code': 'web', 'founded_year': 1971},
 {'name': 'Plaxo', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Yahoo!', 'category_code': 'web', 'founded_year': 1994},
 {'name': 'Meetup', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Topix', 'category_code': 'web', 'founded_year': 2002},
 {'name': 'Steorn', 'category_code': 'web', 'founded_year': 2000}]

In [75]:
import pandas as pd

df=pd.DataFrame(colec.find(query, select))

df.head()

                    name category_code  founded_year
0                Postini           web          1999
1  Fox Interactive Media           web          1979
2            StumbleUpon           web          2002
3                   eBay           web          1995
4                 Viacom           web          1971

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           457 non-null    object
 1   category_code  457 non-null    object
 2   founded_year   457 non-null    int64
dtypes: int64(1), object(2)
memory usage: 10.8+ KB

In [77]:
df.shape

(457, 3)

In [79]:
# select name, category_code, founded_year 
# from colec where name in ('WeGame', 'Facebook');

query = {'name': {'$in': ['WeGame', 'Facebook']}}

# por columnas, dame solo lass dos columnas
filtro={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Facebook', 'category_code': 'social', 'founded_year': 2004},
 {'name': 'WeGame', 'category_code': 'web', 'founded_year': 1840}]

In [80]:
# select name, category_code, founded_year from colec where name like 'Face%'; 


query = {'name': {'$regex': '^Face'}}

# por columnas, dame solo lass dos columnas
filtro={'name': True, 'founded_year': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Facebook', 'category_code': 'social', 'founded_year': 2004},
 {'name': 'FaceTec', 'category_code': 'software', 'founded_year': 2002},
 {'name': 'Face Your Manga', 'category_code': 'web', 'founded_year': None},
 {'name': 'Facebookster',
  'category_code': 'public_relations',
  'founded_year': 2003},
 {'name': 'Facebook Causes Application',
  'category_code': None,
  'founded_year': None},
 {'name': 'FaceKoo', 'category_code': 'network_hosting', 'founded_year': 2008},
 {'name': 'FacebookLicious!',
  'category_code': 'games_video',
  'founded_year': 2007},
 {'name': 'FaceTime Strategy',
  'category_code': 'public_relations',
  'founded_year': None}]

### Geoqueries