# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [ ]:
%pip install pymongo

In [1]:
from pymongo import MongoClient

In [2]:
cursor=MongoClient()

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'quizzes']

In [5]:
db=cursor.nueva_db   # crea base de datos vacia

In [6]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'quizzes']

In [7]:
colec = db.n_colec   # nueva coleccion

In [8]:
db.list_collection_names()

[]

In [10]:
dictio = {'nombre': 'Manolo', 'edad': 39, '4': [1,2,3,4]}

colec.insert_one(dictio)

In [11]:
cursor.list_database_names()

['admin', 'companies', 'config', 'ironcomes', 'local', 'nueva_db', 'quizzes']

In [12]:
db.list_collection_names()

['n_colec']

In [15]:
dictio = {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39,'que te pasa':0}

colec.insert_one(dictio)

In [16]:
# insertar varios

# Equivalente SQL

# insert into colec (columnas) values (valores);

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]


colec.insert_many(json)

In [17]:
# select * from colec;

colec.find()

In [18]:
list(colec.find())

[{'_id': ObjectId('644a2662b9f7330a8c99202a'),
  'nombre': 'Manolo',
  'edad': 39,
  '4': [1, 2, 3, 4]},
 {'_id': ObjectId('644a26a4b9f7330a8c99202b'),
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': ObjectId('644a26f1b9f7330a8c99202c'),
  'id': 0,
  'hola': 'carahuevo',
  'altura': 0.39,
  '5': [1, 2, 3, 4],
  'que te pasa': 0},
 {'_id': 0, 'hola': 'carahuevo', 'altura': 0.39, 'que te pasa': 0},
 {'_id': ObjectId('644a272cb9f7330a8c99202d'), 'nombre': 'yo', 'edad': 38},
 {'_id': 1, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [19]:
res=list(colec.find())

In [20]:
res[0]

{'_id': ObjectId('644a2662b9f7330a8c99202a'),
 'nombre': 'Manolo',
 'edad': 39,
 '4': [1, 2, 3, 4]}

In [21]:
import pandas as pd

pd.DataFrame(res)

,_id,nombre,edad,4,hola,altura,5,que te pasa,id,actividad,lugar
0,644a2662b9f7330a8c99202a,Manolo,39.0,"[1, 2, 3, 4]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,644a26a4b9f7330a8c99202b,NaN,NaN,NaN,carahuevo,0.39,"[1, 2, 3, 4]",0.0,NaN,NaN,NaN
2,644a26f1b9f7330a8c99202c,NaN,NaN,NaN,carahuevo,0.39,"[1, 2, 3, 4]",0.0,0.0,NaN,NaN
3,0,NaN,NaN,NaN,carahuevo,0.39,NaN,0.0,NaN,NaN,NaN
4,644a272cb9f7330a8c99202d,yo,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,natacion,aqui

In [24]:
type(res[0]['4'])

list

### Queries

### DB Companies

### Geoqueries