# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)


Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [7]:
edad = 39

display(edad)

39

In [8]:
type(edad)

int

In [9]:
type(0)

int

In [10]:
type(80)

int

In [11]:
type(-4)

int

## Números reales (float)

In [12]:
temp = 23.4

temp

23.4

In [13]:
type(temp)

float

In [14]:
type(3.141592)

float

In [15]:
type(-1.54)

float

In [16]:
type(0.56)

float

In [17]:
type(.56)

float

In [19]:
type(20.)

float

In [23]:
float(edad)

39.0

In [24]:
int(0.45)

0

## Números complejos (complex)

In [25]:
1j

1j

In [26]:
4 + 1j

(4+1j)

In [28]:
type(1j)

complex

## Operaciones básicas

In [29]:
# suma

3 + 4

7

In [30]:
3.7 + 90

93.7

In [31]:
suma = 3 + 6

suma

9

In [32]:
# resta 

3.4 - 5

-1.6

In [33]:
3 - 2

1

In [34]:
48.9 - temp

25.5

In [35]:
# multiplicacion

3 * 5

15

In [36]:
4 * 9.43

37.72

In [37]:
# division

3 / 7

0.42857142857142855

In [38]:
7 / 0.16

43.75

In [39]:
type(7 / 0.16)

float

In [40]:
7 / 0

ZeroDivisionError: division by zero

In [41]:
# division entera

20 / 3

6.666666666666667

In [42]:
int(20 / 3)

6

In [43]:
20 // 3

6

In [44]:
# modulo (resto de la division)

20 % 3

2

In [45]:
%ls

1.0 - Asistentes LLMs.ipynb     1.3 - Git.ipynb*
1.1 - Bash.ipynb*               2.1 - Intro Python.ipynb*
1.2 - Entornos virtuales.ipynb* images/

In [46]:
# jerarquia de operaciones

2 + 3 * 5

17

In [47]:
(2 + 3) * 5

25

In [48]:
# potencia/raiz

2 ** 3

8

In [49]:
3 ** (1+2+3)

729

In [51]:
2 ** (1/2)

1.4142135623730951

In [52]:
2 ** 0.5

1.4142135623730951

In [53]:
# conversiones

abs(-5)  # valor absoluto

5

In [54]:
int(3.963547)   # conversion a entero

3

In [55]:
float(7)    # conversion a float

7.0

In [59]:
type(float('3.456677'))

float

In [60]:
round(5.67)

6

In [61]:
round(5.17)

5

In [62]:
type(round(5.17))

int

In [64]:
round(5.19488759386396937, 4)   # a 4 decimales

5.1949

In [65]:
float(1+1j)

TypeError: can't convert complex to float

In [66]:
import math

In [68]:
#help(math)

In [69]:
math.floor(8.9437284279384)

8

In [70]:
math.ceil(8.1437284279384)

9

In [71]:
math.sqrt(2)

1.4142135623730951

In [72]:
math.log10(100)

2.0

## Booleanos

In [74]:
bool(0)

False

In [75]:
bool(1)

True

In [76]:
True

True

In [77]:
False

False

In [82]:
bool(0.53453)

True

In [83]:
True == False

False

In [84]:
0.5 == .5

True

In [85]:
50 < 100

True

In [86]:
50 > 100

False

In [87]:
not True

False

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [88]:
not (False and True)

True

In [89]:
(not False) or (not True)

True

## Valores nulos (None)

In [93]:
print(None)

None

In [94]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [95]:
nombre = 'Pepe'

nombre

'Pepe'

In [97]:
type(nombre)

str

In [98]:
type('hola')

str

In [100]:
# cuidado con las comillas

"hola"

'hola'

In [103]:
"hola es Ironahack'"

"hola es Ironahack'"

In [105]:
'2"'

'2"'

In [106]:
# esto es un comentario de una linea

In [110]:
'''
Es un comentario multilinea
'''

3

3

In [108]:
parrafo = '''
Es un comentario multilinea
'''

In [109]:
parrafo

'\nEs un comentario multilinea\n'

In [112]:
'usuario/carpeta/archivo.csv'  # ruta Mac-linux

'usuario/carpeta/archivo.csv'

In [115]:
r'C:\usuario\carpeta'   # r delante significa raw (en crudo)

'C:\\usuario\\carpeta'

In [116]:
print('hola, estoy en : \n Ironhack')

hola, estoy en :
 Ironhack

In [117]:
print('hola, estoy en : \t Ironhack')  # \t es el tabulador

hola, estoy en : 	 Ironhack

In [118]:
# operaciones con strings

'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [119]:
'hola' + '2'

'hola2'

In [120]:
'hola' * 2

'holahola'

In [122]:
'hola' * 2.32243

TypeError: can't multiply sequence by non-int of type 'float'

In [123]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [124]:
saludo = 'hola'

saludo += '2' # saludo = saludo + '2'

saludo

'hola2'

In [125]:
a=2

a+=2      # a = a+2

print(a)

4

In [126]:
a=2

a-=2      # a = a-2

print(a)

0

In [127]:
a=2

a*=5      # a = a*5

print(a)

10

In [128]:
a=2

a/=5      # a = a/5

print(a)

0.4

In [131]:
# formateo de strings


num = 37

f'Hola Chief: me has robao {num} € alegre....'

'Hola Chief: me has robao 37 € alegre....'

In [132]:
robo = f'Hola Chief: me has robao {num} € alegre....'

In [133]:
robo

'Hola Chief: me has robao 37 € alegre....'

In [135]:
num=45.75767

'Hola Chief: me has robao {:.2f} € alegre....'.format(num)

'Hola Chief: me has robao 45.76 € alegre....'

In [139]:
'Hola Chief: me has robao ' +str(round(num, 2))+ ' € alegre....'

'Hola Chief: me has robao 45.76 € alegre....'

In [140]:
'Hola Chief: me has robao {:.2f} €, alegre....{}'.format(num, 45)

'Hola Chief: me has robao 45.76 €, alegre....45'

In [142]:
'Hola Chief: me has robao x €, alegre...'.lower()

'hola chief: me has robao x €, alegre...'

In [143]:
'Hola Chief: me has robao x €, alegre...'.upper()

'HOLA CHIEF: ME HAS ROBAO X €, ALEGRE...'

In [144]:
'Hola Chief: me has robao x €, alegre...'.title()

'Hola Chief: Me Has Robao X €, Alegre...'

In [145]:
'Hola Chief: me has robao x €, alegre...'.capitalize()

'Hola chief: me has robao x €, alegre...'

In [147]:
'Hola Chief: me has robao x €, alegre...'.lower().upper()

'HOLA CHIEF: ME HAS ROBAO X €, ALEGRE...'

In [148]:
string='Hola Chief: me has robao x €, alegre...'

In [149]:
string[0]

'H'

In [150]:
len(string)

39

In [151]:
string[0]='i'

TypeError: 'str' object does not support item assignment

In [152]:
string.replace('H', 'i')

'iola Chief: me has robao x €, alegre...'

In [153]:
string.replace(' ', '_')

'Hola_Chief:_me_has_robao_x_€,_alegre...'

In [161]:
string.replace(' ', '_', 1)

'Hola_Chief: me has robao x €, alegre...'

In [163]:
# slicing: iterable[start:stop:step]

string[0:-1:2]

'Hl he:m a oa  ,aer.'

In [165]:
string[::-1]

'...ergela ,€ x oabor sah em :feihC aloH'

In [169]:
len('Hola Chief:     me has robao {:.2f} € alegre....'.format(num))  # nº de caracteres

47

In [167]:
'Hola'[-4]

'H'

In [168]:
'Hola'[9]

IndexError: string index out of range

In [170]:
len('4.5')

3

## Listas

In [171]:
lst = [10, 23, 45, 66, 432, 6546, 75474, 6]

lst2 = ['hola', 'adios', 'hasta luego', 'chato']


print(lst)

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [172]:
type(lst)

list

In [173]:
len(lst)

8

In [174]:
min(lst), max(lst)

(6, 75474)

In [175]:
min(lst2), max(lst2)    # https://elcodigoascii.com.ar/

('adios', 'hola')

In [176]:
4 in lst

False

In [177]:
'hola' in lst2

True

In [178]:
sum(lst)

82602

In [179]:
sum(lst2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [181]:
int(lst)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [183]:
str(lst)[0]

'['

In [185]:
string.split()

['Hola', 'Chief:', 'me', 'has', 'robao', 'x', '€,', 'alegre...']

In [188]:
str_list=string.split('o')
str_list

['H', 'la Chief: me has r', 'ba', ' x €, alegre...']

In [189]:
'🦄'.join(str_list)

'H🦄la Chief: me has r🦄ba🦄 x €, alegre...'

In [191]:
'hole'.split()

['hole']

In [192]:
# slicing

lst

[10, 23, 45, 66, 432, 6546, 75474, 6]

In [193]:
lst[0]   # el primero, los indices siempre empiezan en 0 y acaban en N-1

10

In [194]:
lst[1]  # el segundo

23

In [195]:
lst[-1]  # el ultimo

6

In [196]:
lst[-2]  # el penultimo

75474

In [197]:
lst[7]

6

In [198]:
# lst[start : stop : step]

In [201]:
lst[1:4]  # lst[start : stop]

[23, 45, 66]

In [205]:
lst[0:7]

[10, 23, 45, 66, 432, 6546, 75474]

In [206]:
lst[1:10:2]  # lst[start : stop : step]

[23, 66, 6546, 6]

In [207]:
lst[10]

IndexError: list index out of range

In [209]:
lst[0]=234546

lst

[234546, 23, 45, 66, 432, 6546, 75474, 6]

In [211]:
lst[1:10:2] = [0,0,0,0]

In [212]:
lst

[234546, 0, 45, 0, 432, 0, 75474, 0]

In [213]:
lst[::2]  # todo, desde el principio al final de 2 en 2

[234546, 45, 432, 75474]

In [214]:
lst[::-1]

[0, 75474, 0, 432, 0, 45, 0, 234546]

In [219]:
sorted(lst2, reverse=False)

['adios', 'chato', 'hasta luego', 'hola']

In [216]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

**tipos de bucles**

In [220]:
lst

[234546, 0, 45, 0, 432, 0, 75474, 0]

In [226]:
# para cada elemento en la lista....

for e in lst:
    print(e+2)
    
print('el bucle acaba aqui')

234548
2
47
2
434
2
75476
2
el bucle acaba aqui

In [223]:
list(range(len(lst)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [227]:
# para cada indice en el rango de la longitud de la lista.....

for i in range(len(lst)):
    print(i, '---------', lst[i])
    
print('el bucle acaba aqui')

0 --------- 234546
1 --------- 0
2 --------- 45
3 --------- 0
4 --------- 432
5 --------- 0
6 --------- 75474
7 --------- 0
el bucle acaba aqui

In [228]:
for i in range(2, 8, 2):    # start-stop-step
    print(i, '---------', lst[i])
    
print('el bucle acaba aqui')

2 --------- 45
4 --------- 432
6 --------- 75474
el bucle acaba aqui

In [230]:
list(range(2, 7, 2))

[2, 4, 6]

In [233]:
i, e

(6, 0)

In [234]:
for index, element in enumerate(lst):
    print(index, '*********' ,element)

0 ********* 234546
1 ********* 0
2 ********* 45
3 ********* 0
4 ********* 432
5 ********* 0
6 ********* 75474
7 ********* 0

In [236]:
list(enumerate(lst))

[(0, 234546), (1, 0), (2, 45), (3, 0), (4, 432), (5, 0), (6, 75474), (7, 0)]

In [241]:
a, b = 10, 20  # definir 2 variables

a, b

(10, 20)

In [240]:
a, b = (10, 20)   # unpacking

a

10

In [242]:
l1=[1,2,3]

l2=['a', 'b', 'c']

In [244]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [245]:
for num,letra in zip(l1, l2):
    print(num, '----',letra)

1 ---- a
2 ---- b
3 ---- c

In [246]:
string='kejbfiaej n oeinfgoewinf wfgipowengf3'

In [247]:
for letra in string:
    print(letra*2)

kk
ee
jj
bb
ff
ii
aa
ee
jj

nn

oo
ee
ii
nn
ff
gg
oo
ee
ww
ii
nn
ff

ww
ff
gg
ii
pp
oo
ww
ee
nn
gg
ff
33

In [248]:
for _ in range(3):
    print('Hola que tal')

Hola que tal
Hola que tal
Hola que tal

In [250]:
# bucle while

a=0


while a<10:
    a+=5   # actualizar
    print(f'El valor de a es {a}')
    
    
    
    
print('Fin del bucle')

El valor de a es 5
El valor de a es 10
Fin del bucle

In [252]:
a=0

for _ in range(100):
    
    print(f'El valor de a es {a}')
    
    a+=5   # actualizar
    
    if a>=10:
        break

        
print('Fin del bucle')

El valor de a es 0
El valor de a es 5
Fin del bucle

In [253]:
# bucle infinito

while True:
    print('hola')
    
    a+=2
    
    if a>20:
        break

hola
hola
hola
hola
hola
hola

In [254]:
# bucle infinito

while 1:
    print('hola')
    
    a+=2
    
    if a>20:
        break

hola

**condicionales**

In [270]:
estudiante = 'Pepe 😷'

estudiante[-1]

'😷'

In [271]:
%%time

if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus')
    
elif estudiante[-1] == '🤪':
    print('Chaval vete pa casa...')
    
else:
    print('hola')

El estudiante puede entrar al campus
CPU times: user 28 µs, sys: 7 µs, total: 35 µs
Wall time: 36 µs

In [272]:
%%time

if estudiante[-1] == '😷':
    print('El estudiante puede entrar al campus')
    
else:
    pass
    
if estudiante[-1] == '🤪':
    print('Chaval vete pa casa...')
    
else:
    print('hola')

El estudiante puede entrar al campus
hola
CPU times: user 33 µs, sys: 10 µs, total: 43 µs
Wall time: 37.9 µs

In [273]:
a=-6


if a==0:
    print('Cerito.')
    
elif a>0:
    print('Mayor.')
    
else:
    print('Menor')

Menor

In [281]:
%%time

# secuencia de Fibonacci

a=0
b=1


contador=0

cuantos=10

print(a)
print(b)

while contador<cuantos:
    
    c=a+b
    print(c)
    
    a=b
    b=c
    
    contador+=1
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
acabe
CPU times: user 366 µs, sys: 125 µs, total: 491 µs
Wall time: 449 µs

In [282]:
%%time

a=0
b=1

cuantos=10

print(a)
print(b)


for _ in range(cuantos):
    
    c=a+b
    
    print(c)
    
    a=b
    b=c
    
print('acabe')

0
1
1
2
3
5
8
13
21
34
55
89
acabe
CPU times: user 91 µs, sys: 9 µs, total: 100 µs
Wall time: 97.8 µs

**list comprehension**

In [283]:
lst = []

for i in range(10):
    
    lst.append(i)   # añade los elementos a la lista
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [284]:
lst2 = [i for i in range(10)]

lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [285]:
matriz = []

for _ in range(5):   # eje x
    
    lst_y = []
    
    for y in range(5):   # eje y
        
        lst_y.append(y)
        
    matriz.append(lst_y)
    
matriz

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [286]:
y

4

In [287]:
lst_y

[0, 1, 2, 3, 4]

In [289]:
matriz = [[y for y in range(9)] for _ in range(5)]

matriz

[[0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [293]:
lst = []

for i in range(20):
    
    if i%2:   # los impares
        
        lst.append(i)
        
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [294]:
lst = [i for i in range(20) if i%2]

lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [295]:
lst = []

for i in range(5):
    
    for j in range(3):
        
        lst.append(i*j)
        
    
        
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [296]:
lst = [i*j for i in range(5) for j in range(3)]

lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [298]:
lst.pop()

8

In [299]:
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [300]:
lst.pop(0)

0

In [301]:
lst

[0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [302]:
lst.remove(0)

In [303]:
lst

[0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4]

In [304]:
lst.remove(4)

lst

[0, 0, 1, 2, 0, 2, 0, 3, 6, 0, 4]

In [305]:
lst.sort()

In [306]:
lst

[0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 6]

In [307]:
lst.sort(reverse=True)

lst

[6, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0]

In [309]:
#help(list)

In [311]:
lst[0]=1e4

lst

[10000.0, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0]

In [315]:
4e3   # notacion cientifica

4000.0

In [317]:
lst.insert(3, 0)    # index, elemento

In [318]:
lst

[10000.0, 4, 3, 0, 2, 2, 1, 0, 0, 0, 0, 0]

## Tuplas

Inmutables

In [320]:
letras = ('a', 'b', 'c')

letras

('a', 'b', 'c')

In [321]:
type(letras)

tuple

In [322]:
for e in letras:
    print(e)

a
b
c

In [323]:
letras.append(0)

AttributeError: 'tuple' object has no attribute 'append'

In [324]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [325]:
letras.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [326]:
letras[0]='f'

TypeError: 'tuple' object does not support item assignment

In [333]:
type(tuple(lst))

tuple

In [334]:
letras=list(letras)

letras[0]='f'

letras=tuple(letras)

letras

('f', 'b', 'c')

In [335]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [336]:
(i for i in range(10))

## Conjuntos (set)

In [337]:
lst = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3,0,344,4,4,4,4,4,0,4,4]

lst[:5]

[1, 1, 1, 1, 1]

In [338]:
set(lst)

{0, 1, 2, 3, 4, 344}

In [339]:
s=set(lst)

s

{0, 1, 2, 3, 4, 344}

In [340]:
type(s)

set

In [345]:
s.add(90.0)

In [347]:
list(s)

[0, 1, 2, 3, 4, 344, 90]

In [349]:
for e in s:
    print(e)

0
1
2
3
4
344
90

In [350]:
s.remove(0)

In [351]:
s

{1, 2, 3, 4, 90, 344}

In [352]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [353]:
set_1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99}

In [354]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [355]:
set_1.union(set_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [356]:
set_1.intersection(set_2)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [357]:
set_1 - set_2

{1, 2, 76, 99}

In [358]:
set_2 - set_1

{780, 786, 789}

In [360]:
set_1.issubset(set_2)

False

In [361]:
set_1.issuperset(set_2)

False

In [362]:
set_1 | set_2  # union   (| == or)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [363]:
set_1 & set_2  # interseccion  (& == and)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

## Diccionarios

In [364]:
dict()

{}

In [365]:
type({})

dict

In [366]:
dictio = {'key': 'value', 3: 'hola', True: [1,2,3,4]}

dictio

{'key': 'value', 3: 'hola', True: [1, 2, 3, 4]}

In [367]:
type(dictio)

dict

In [369]:
dictio['key']

'value'

In [370]:
dictio[3]

'hola'

In [371]:
dictio[0]

KeyError: 0

In [372]:
dictio['key'] = 'hola que tal'

In [373]:
dictio

{'key': 'hola que tal', 3: 'hola', True: [1, 2, 3, 4]}

In [374]:
dictio['key2'] = 345

In [375]:
dictio

{'key': 'hola que tal', 3: 'hola', True: [1, 2, 3, 4], 'key2': 345}

In [376]:
dictio['key'] = 345

dictio

{'key': 345, 3: 'hola', True: [1, 2, 3, 4], 'key2': 345}

In [377]:
dictio.keys()

dict_keys(['key', 3, True, 'key2'])

In [378]:
dictio.values()

dict_values([345, 'hola', [1, 2, 3, 4], 345])

In [379]:
dictio.items()

dict_items([('key', 345), (3, 'hola'), (True, [1, 2, 3, 4]), ('key2', 345)])

In [380]:
for k,v in dictio.items():
    
    print(k, '------', v)

key ------ 345
3 ------ hola
True ------ [1, 2, 3, 4]
key2 ------ 345

In [382]:
dictio.pop('key')

345

In [383]:
dictio

{3: 'hola', True: [1, 2, 3, 4], 'key2': 345}

In [384]:
dictio[4]='hola'

dictio

{3: 'hola', True: [1, 2, 3, 4], 'key2': 345, 4: 'hola'}

In [387]:
print(dictio.get('hola'))

None

In [388]:
dictio.get('hola', 'si no encuentras la key, dame esto.....')

'si no encuentras la key, dame esto.....'

In [390]:
dictio.get(3, 'si no encuentras la key, dame esto.....')

'hola'

In [391]:
d={'personas': [{'nombre': 'Maria'}, 
                {'nombre': 'Lolo'}]}



for e in d['personas']:
    
    print(e['nombre'])

Maria
Lolo

In [395]:
[{'nombre': 'Maria'},  {'nombre': 'Lolo'}][1]

{'nombre': 'Lolo'}

In [396]:
lst1=['a', 'b', 'c']

lst2=[1, 2, 2, 4]

In [397]:
list(zip(lst1, lst2))

[('a', 1), ('b', 2), ('c', 2)]

In [398]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 2}

In [399]:
d={}

for k,v in zip(lst1, lst2):
    
    d[k]=v
    
d

{'a': 1, 'b': 2, 'c': 2}

In [401]:
{k:v+4 for k,v in zip(lst1, lst2)}

{'a': 5, 'b': 6, 'c': 6}

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [402]:
a = [1, 2]
b = [1, 2]

In [403]:
a == b

True

In [405]:
a is b

False

In [406]:
id(a)

4358310144

In [407]:
id(b)

4358795712

In [408]:
a=b

In [409]:
a is b

True

In [410]:
id(a)

4358795712

In [411]:
id(b)

4358795712

In [412]:
a.append(8)

a

[1, 2, 8]

In [413]:
b

[1, 2, 8]

In [414]:
a=b[:]

a.append(8)

a

[1, 2, 8, 8]

In [415]:
b

[1, 2, 8]

In [416]:
id(a)

4359490816

In [417]:
id(b)

4358795712

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación