# 3.2 - Funciones, generadores

![funciones](images/funciones.jpg)

Una función es un bloque de código con un nombre asociado, que recibe cero o más argumentos como entrada, sigue una secuencia de sentencias, la cuales ejecuta una operación deseada y devuelve un valor y/o realiza una tarea, este bloque puede ser llamados cuando se necesite.

El uso de funciones es un componente muy importante del paradigma de la programación llamada estructurada, y tiene varias ventajas:
- modularización: permite segmentar un programa complejo en una serie de partes o módulos más simples, facilitando así la programación y el depurado.
- reutilización: permite reutilizar una misma función en distintos programas.

### Tabla contenidos:

+ Funciones propias de python (built-in functions)
+ Funciones custom
* Generadores

#### Funciones propias de python (built-in functions)

https://docs.python.org/3/library/functions.html

Estas funciones están definidas dentro de python. Para usarlas simplemente hay que invocarlas.

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
print('hola')

hola

In [5]:
print('hola', 'adios', sep= ' -------- ')

hola -------- adios

In [6]:
type(print)

builtin_function_or_method

In [7]:
max([1,2,3])

3

In [8]:
type(max)

builtin_function_or_method

In [9]:
type(len)

builtin_function_or_method

#### Funciones custom

Funciones creadas por nosotros con un objetivo. 

**Consejo:** Las funciones realizan acciones, por eso se recomienda que sus nombres sean verbos.


**Estructura:**

```python
def nombre_funcion(argumentos de entrada):
    # los dos puntos y la indentacion implican estar en la funcion
    realiza acciones
    return () # devuelve cierto valor
```

In [10]:
def sumar(a, b):
    
    z = a+b
    
    return z

In [12]:
sumar(2, 3)

5

In [13]:
numero = sumar(8, 3)

numero

11

In [14]:
numero

11

In [23]:
def restar(x, y):
    
    z = x-y
    
    r = z + sumar(3, 4)
    
    return z, r

In [24]:
restar(5, 6)

(-1, 6)

In [25]:
a, b = restar(5, 6)   # a es z y b es r

In [28]:
for i in range(b):
    print(i)

0
1
2
3
4
5

In [29]:
def sumar_2(a, b, c):
    
    res=[]
    
    suma=a+b
    
    m=60
    
    for i in range(c):
        print(i)
        res.append(c**i * suma + m)
        
    return res

In [34]:
sumar_2(2, 3, 5)

0
1
2
3
4

[65, 85, 185, 685, 3185]

In [38]:
def sumar(a, b):
    
    z=a+b
    
    print(z)
    
    return z

In [39]:
var=sumar(3, 4)

print(var)

7
7

In [41]:
lista = sumar_2(2, 3, 5)

0
1
2
3
4

In [42]:
lista

[65, 85, 185, 685, 3185]

In [45]:
sumar(8)

TypeError: sumar() missing 1 required positional argument: 'b'

**Argumentos por defecto**

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [46]:
def sumar_3(a, b, c=9):   # c=9 es un valor por defecto, a, b son pocionales y c kwargs
    
    return a + b + 1/c

In [47]:
sumar_3(1, 2)

3.111111111111111

In [48]:
sumar_3(1, 2, 2)

3.5

In [50]:
sumar_3(0, 2)

2.111111111111111

In [52]:
sumar_3(5, 2, 0)

ZeroDivisionError: division by zero

In [55]:
sumar_3(c=5, a=2, b=0)

2.2

In [56]:
def elevar_al_cuadrado(x, verbose=True):
    
    if verbose:
        print(f'El numero es {x}')
        
    return x**2

In [57]:
elevar_al_cuadrado(3)

El numero es 3

9

In [58]:
n=elevar_al_cuadrado(3)

El numero es 3

In [59]:
n

9

In [61]:
n=elevar_al_cuadrado(3, 0)

n

9

In [63]:
lst = [1,2,3,4,5,6,7]


lst_cuad = []

for e in lst:
    
    n = elevar_al_cuadrado(e, 0)
    
    lst_cuad.append(n)
    
lst_cuad

[1, 4, 9, 16, 25, 36, 49]

In [65]:
[elevar_al_cuadrado(e, False) for e in lst]

[1, 4, 9, 16, 25, 36, 49]

In [66]:
[e**2 for e in lst]

[1, 4, 9, 16, 25, 36, 49]

In [69]:
def sumar_w(a, b, c=input()):
    
    c=int(c)
    
    return a+b+c

90

In [70]:
sumar_w(8, 9)

107

In [71]:
sumar_w(8, 9, 10)

27

In [72]:
def sumar_w(a, b):
    
    c=int(input())
    
    return a+b+c

In [73]:
sumar_w(8, 9)

90

107

**Argumentos posicionales y argumentos clave-valor (args, kwargs)**

In [74]:
def sumar(a, b):
    return a+b

In [75]:
sumar(1, 2, 3)

TypeError: sumar() takes 2 positional arguments but 3 were given

In [78]:
def sumar(*args):
    
    print('ARGS : ', args)
    
    res=0
    
    for e in args:
        res+=e
    
    return res

In [79]:
sumar(1, 2)

ARGS :  (1, 2)

3

In [88]:
lst=[1,2,3,4,5,6,7]


sumar(*lst)

ARGS :  (1, 2, 3, 4, 5, 6, 7)

28

In [83]:
sumar(1,2,3,4,5,6,7,8,9)

ARGS :  (1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [89]:
sumar(1,2,3, *[3,4,5], 8)

ARGS :  (1, 2, 3, 3, 4, 5, 8)

26

El símbolo `*` quiere decir que coja los elementos de uno en uno sea cual sea su número.

In [90]:
def saludar(nombre, lang='es', colega=True):
    
    s=''
    
    if colega:
        s='colega!!!'
        
    if lang=='es':
        print(f'Hola {nombre} {s}')
        
    else:
        print(f'Hello {nombre} buddy!!')

In [91]:
saludar('Pepe')

Hola Pepe colega!!!

In [92]:
saludar('Pepe', 'es', False)

Hola Pepe

In [93]:
saludar(['Pepe', 'en'])

Hola ['Pepe', 'en'] colega!!!

In [95]:
saludar(*['Pepe', 'en', False])

Hello Pepe buddy!!

In [96]:
def saludar_multiple(*args, lang='es', colega=True):
    
    for nombre in args:
        
        saludar(nombre, lang, colega)

In [97]:
saludar_multiple(['Ana', 'Pepe', 'Juan'])

Hola ['Ana', 'Pepe', 'Juan'] colega!!!

In [98]:
saludar_multiple(*['Ana', 'Pepe', 'Juan'])

Hola Ana colega!!!
Hola Pepe colega!!!
Hola Juan colega!!!

In [99]:
nombres=['Ana', 'Pepe', 'Juana', 'Chema', 'Juan', 'Oriana']

nombres

['Ana', 'Pepe', 'Juana', 'Chema', 'Juan', 'Oriana']

In [104]:
config = {'lang': 'es', 'colega': True}

config

{'lang': 'es', 'colega': True}

El símbolo `**` quiere decir que coja los elementos de uno en uno sabiendo que tiene la estructura clave-valor como en un diccionario.

In [105]:
saludar_multiple(*nombres, **config)

Hola Ana colega!!!
Hola Pepe colega!!!
Hola Juana colega!!!
Hola Chema colega!!!
Hola Juan colega!!!
Hola Oriana colega!!!

In [106]:
def func(*args, **kwargs):
    print('Args', args)
    print('Kwargs', kwargs)

In [107]:
func(*[12, 34, 56], **config)

Args (12, 34, 56)
Kwargs {'lang': 'es', 'colega': True}

In [108]:
func([12, 34, 56], config)

Args ([12, 34, 56], {'lang': 'es', 'colega': True})
Kwargs {}

In [109]:
func(*[12, 34], *[13, 56])

Args (12, 34, 13, 56)
Kwargs {}

In [110]:
func(**{'a': 4, 'd': 5}, **{'v': 'hola', 'g': 50})

Args ()
Kwargs {'a': 4, 'd': 5, 'v': 'hola', 'g': 50}

**Alcance (scope)**

In [116]:
z=4   # es una variable global, todo el codigo la ve

m=1   # es global

print(m)


def sumar(a):
    
    global z, m
    
    # a es un avariable local, solo la funcion la ve
    
    m=20  # es local
    
    print('valor:', 'm:', m, '------', 'z:', z)
    
    num=a+z
    
    return num


print(m)

1
1

In [117]:
num=sumar(8)

num

valor: m: 20 ------ z: 4

12

In [118]:
print(m)

20

**Callback**

In [119]:
def restar(a):
    
    a=sumar(a)
    
    return 10 - a

In [120]:
restar(8)

valor: m: 20 ------ z: 4

-2

In [121]:
def hola():
    
    def adios():
        
        print('hola')
        
        return 5
    
    return adios()

In [122]:
hola()

hola

5

In [124]:
adios()

NameError: name 'adios' is not defined

**Tipado**

In [126]:
def saludar(nombre: str, lang: str='es', colega: bool=True) -> None:
    
    """
    pep8
    
    Aqui, documentacion y explicaiones
    
    Params:
    + nombre: strin, nombre blablabla
    + lang:------
    + colega:---------
    
    
    +return : None
    
    """
    
    
    s=''
    
    if colega:
        s='colega!!!!!'
        
    if lang=='es':
        print('Hola {} {}'.format(nombre, s))
        
    else:
        print('Hello {} buddy!!!'.format(nombre))

In [127]:
help(saludar)

Help on function saludar in module __main__:

saludar(nombre: str, lang: str = 'es', colega: bool = True) -> None
    pep8

    Aqui, documentacion y explicaiones

    Params:
    + nombre: strin, nombre blablabla
    + lang:------
    + colega:---------


    +return : None

In [128]:
help(sumar)

Help on function sumar in module __main__:

sumar(a)

In [129]:
from typing import List

In [131]:
def saludar(lista: List) -> List:
    return 3

In [132]:
saludar(9)

3

### Generadores


![generador](images/funcion_generador.gif)

In [141]:
tup=(i for i in range(5))

tup

In [142]:
next(tup)

0

In [143]:
next(tup)

1

In [144]:
next(tup)

2

In [145]:
list(tup)

[3, 4]

In [146]:
list(tup)

[]

In [147]:
next(tup)

StopIteration:

Este comportamiento implica que el valor solo es generado cuando se requiere y luego es borrado de la memoria, aumentando asi el rendimiento.

Veamos como hacer un generador custom:

In [148]:
def saludar(nombre):
    
    yield f'Hola {nombre}'

In [149]:
saludar('Pepe')

In [150]:
a=saludar('Pepe')

a

In [151]:
next(a)

'Hola Pepe'

In [152]:
next(a)

StopIteration:

In [158]:
type(range(2))

range

In [159]:
# range custom


def rang(*args):
    
    if len(args)==1:
        start=0
        stop=args[0]
        step=1
        
    elif len(args)==2:
        start=args[0]
        stop=args[1]
        step=1
        
    elif len(args)==3:
        start=args[0]
        stop=args[1]
        step=args[2]
        
    else:
        pass#yield 'hay mas cuco.....'
    
    
    while start<stop:
        
        yield start
        
        start += step

In [161]:
list(rang(4))

[0, 1, 2, 3]

In [162]:
list(rang(3, 9))

[3, 4, 5, 6, 7, 8]

In [163]:
list(rang(3, 15, 2))

[3, 5, 7, 9, 11, 13]

In [164]:
bucle = rang(3, 15, 2)

In [165]:
bucle

In [166]:
next(bucle)

3

In [167]:
next(bucle)

5

In [168]:
next(bucle)

7

In [169]:
numero=next(bucle)

In [170]:
numero

9

In [171]:
list(bucle)

[11, 13]

In [172]:
for i in rang(2, 5):
    print(i)

2
3
4

In [173]:
for i in range(0, 3, 0.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [174]:
for i in rang(0, 3, 0.5):
    print(i)

0
0.5
1.0
1.5
2.0
2.5

In [175]:
for e in []:
    print(e)

**Más**

[Project Euler: Math and programming problems](https://projecteuler.net/)