# 4.2 - Map, Filter, Reduce

Estas tres funciones nos permiten realizar procesos con iterables de una manera más eficiente. Todas ellas reciben como argumentos de entrada un iterable y una función que realiza una acción sobre el iterable. A menudo, la función que se pasa a `map()`, `reduce()` o `filter()` solamente se utiliza una vez, de ahí que el uso de funciones `lambda` sea muy habitual en su uso.

### Map (Mathematical application)

El `map()` itera sobre todos los elementos de un iterable aplicando una función a cada uno de ellos. Su sintaxis es:

```python
map(funcion, iterable)
```

La función `map()` devuelve un iterable con el mismo número de elementos que el que se le pasa como entrada, aplica una función matemática a cada uno de los elementos

In [4]:
def suma_10(x):
    """
    Esta tiene que recibir solo un elemento de entrada,
    Para el map, pensad en esta funcion solo para un elemento.
    
    """
    return x+10

In [5]:
lst = [i for i in range(1000)]


lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
%%time

res = []

for e in lst:
    
    n=suma_10(e)
    
    res.append(n)
    
res[:5]

CPU times: user 366 µs, sys: 8 µs, total: 374 µs
Wall time: 378 µs

[10, 11, 12, 13, 14]

In [10]:
len(res)

1000

In [11]:
%%time

res=[suma_10(e) for e in lst]
    
res[:5]

CPU times: user 207 µs, sys: 5 µs, total: 212 µs
Wall time: 215 µs

[10, 11, 12, 13, 14]

In [12]:
%%time

#map(funcion, lista)

map(suma_10, lst)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.87 µs

In [14]:
%%time

#map(funcion, lista)

list(map(suma_10, lst))[:10]

CPU times: user 130 µs, sys: 1 µs, total: 131 µs
Wall time: 133 µs

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
%%time 

# %% mide el tiempo de ejecucion de la casilla completa

for e in map(suma_10, lst[:10]):  # el map es un iterable
    print(e)

10
11
12
13
14
15
16
17
18
19
CPU times: user 65 µs, sys: 7 µs, total: 72 µs
Wall time: 69.9 µs

In [16]:
%%time

map(lambda x: x+10, lst)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.15 µs

In [25]:
var_map = map(lambda x: x+10, lst)

type(var_map)

map

In [26]:
list(var_map)[:10]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [27]:
list(var_map)

[]

### Filter

Como el nombre sugiere la función `filter()` sirve para filtrar un iterable.Su sintaxis es:

```python
filter(funcion, iterable)
```

La función filter devuelve un iterable, pero su longitud no tiene por qué coincidir con la del iterable de entrada, después de todo es un filtro. La función de entrada del filter tiene la particularidad de devolver valores booleanos según cierta condición, de ésta manera es como se gestiona el filtrado de elementos.

In [28]:
def buscar_par(n):
    
    if n%2==0:
        return True
    else:
        return False

In [29]:
lst[:5]

[0, 1, 2, 3, 4]

In [30]:
filter(buscar_par, lst)

In [31]:
list(filter(buscar_par, lst))[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
%%time

res=[]

for n in lst:
    
    if n%2==0:
        res.append(n)
    else:
        pass
    
res[:5]

CPU times: user 202 µs, sys: 1 µs, total: 203 µs
Wall time: 206 µs

[0, 2, 4, 6, 8]

In [33]:
%%time

filter(buscar_par, lst)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs

In [34]:
def buscar_impar(n):
    return n%2

In [35]:
buscar_impar(8)

0

In [36]:
%%time

filter(buscar_impar, lst)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 6.91 µs

In [37]:
list(filter(buscar_impar, lst))[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
list(filter(lambda n: n%3, lst))[:10]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

**Multifiltro**

In [43]:
# formato json

hoteles=[
    {'name':'Ritz', 'hasPool':True, 'stars':5},
    {'name':'Pension Lola', 'hasPool':True, 'stars':2},
    {'name':'Roma Norte', 'hasPool':False, 'stars':3},
    {'name':'Palace', 'hasPool':True, 'stars':4},
]

In [45]:
# menos de 3 estrellas

list(filter(lambda x: x['stars']<3, hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [47]:
nombres=[]

for e in filter(lambda x: x['stars']<3, hoteles):
    nombres.append(e['name'])
    
nombres

['Pension Lola']

In [48]:
[e['name'] for e in filter(lambda x: x['stars']<3, hoteles)]

['Pension Lola']

In [49]:
# mas de 3 estrellas y con piscina

list(filter(lambda x: x['stars']>3 and x['hasPool'], hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5},
 {'name': 'Palace', 'hasPool': True, 'stars': 4}]

### Reduce

El `reduce()` funciona de manera diferente que el `map()` o el `filter()`. No devuelve un iterable resultante de la aplicación de una función, sino que devuelve un solo elemento reducido, procesado. La manera de hacerlo es acumulando los resultados, empezando por el primer elemento del iterable y recorriéndolo (el valor inicial se puede cambiar).


![reduce](images/reduce.png)

In [50]:
from functools import reduce

In [51]:
def sumar(a, b):
    print(a, b)
    return a+b

In [52]:
lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
reduce(sumar, lst[:10])

0 1
1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9

45

In [54]:
sum(lst[:10])

45

In [56]:
def producto(a, b):
    return a*b

In [57]:
reduce(producto, lst[1:10])

362880

In [58]:
reduce(lambda a, b: a*b, lst[1:10])

362880

In [59]:
num = reduce(lambda a, b: a*b, lst[1:10])

num

362880

### Resumen 

`map,filter,reduce` son funciones que reciben otra función como argumento de entrada y un iterable.

- Map: Devuelve un iterable con el mismo número de elementos que el iterable de entrada.
- Filter: Devuelve un iterable, no necesariamente igual en longitud que el original.
- Reduce: Devuelve un solo elemento (aunque puede ser una lista).


**Resumen gráfico:**
![map_reduce_filter](images/map_reduce_filter.png)