# 5.0 - Repaso Pandas

In [46]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('../data/vehicles_messy.csv', low_memory=False)

df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### 1 get numeric VS select dtypes

In [6]:
df._get_numeric_data().shape

(37843, 60)

In [7]:
df.select_dtypes('integer').shape

(37843, 27)

In [8]:
df.select_dtypes('float').shape

(37843, 32)

In [9]:
df.select_dtypes(['integer', 'float']).shape

(37843, 59)

In [10]:
df.select_dtypes(['integer', 'float', 'bool']).shape

(37843, 60)

In [11]:
df.select_dtypes(include=['integer', 'float', 'bool']).shape

(37843, 60)

In [12]:
df.select_dtypes(exclude='object').shape

(37843, 60)

## 2 metapply

In [15]:
df.cylinders.apply(lambda x: x+20).head()   # aplica un +20 a la columna

0    24.0
1    32.0
2    24.0
3    28.0
4    24.0
Name: cylinders, dtype: float64

In [17]:
df._get_numeric_data().apply(lambda x: x+20).head() # aplica un +20 a la parte numerica

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
0,35.695714,20.0,20.0,20.0,39,20.0,20,20.0,20.0,20.0,...,43.3333,20.0,55.0000,20.0,2005,-1230,20.0,20,20,20
1,49.964545,20.0,20.0,20.0,29,20.0,20,20.0,20.0,20.0,...,31.0000,20.0,39.0000,20.0,2005,-8480,20.0,20,20,20
2,32.207778,20.0,20.0,20.0,43,20.0,20,20.0,20.0,20.0,...,49.0000,20.0,67.0000,20.0,2005,520,20.0,20,20,20
3,49.964545,20.0,20.0,20.0,30,20.0,20,20.0,20.0,20.0,...,32.2222,20.0,36.6667,20.0,2005,-8480,20.0,20,20,20
4,37.347895,20.0,20.0,20.0,37,20.0,20,20.0,20.0,20.0,...,41.0000,20.0,52.0000,20.0,2013,-3980,20.0,20,20,20

In [25]:
df.apply(lambda x: 2*x).head()  # multiplica por 2 todo el dataframe

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,31.391429,0.0,0.0,0.0,38,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
1,59.929091,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
2,24.415556,0.0,0.0,0.0,46,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
3,59.929091,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
4,34.695789,0.0,0.0,0.0,34,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0

In [27]:
df.cylinders.head() + 20   # suma 20 a una columna

0    24.0
1    32.0
2    24.0
3    28.0
4    24.0
Name: cylinders, dtype: float64

In [26]:
# apply a un df, la funcion recibe una columna, de ahi el doble apply

df.apply(lambda x: x.apply(lambda y: type(y))).head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'float'>,<class 'float'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>
1,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'float'>,<class 'float'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>
2,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'float'>,<class 'float'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>
3,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'float'>,<class 'float'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>
4,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'float'>,<class 'float'>,<class 'float'>,...,<class 'float'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>

In [28]:
def funcion_a_la_serie(elemento):
    return elemento*2

In [29]:
def funcion_al_df(serie):
    
    return serie.apply(funcion_a_la_serie)

In [32]:
df.apply(funcion_al_df).head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,31.391429,0.0,0.0,0.0,38,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
1,59.929091,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
2,24.415556,0.0,0.0,0.0,46,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
3,59.929091,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0
4,34.695789,0.0,0.0,0.0,34,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,NaN,0,0,0

### 3 dtype (object)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

In [34]:
df.eng_dscr.head()

0         (FFS)
1     (GUZZLER)
2         (FFS)
3           NaN
4    (FFS,TRBO)
Name: eng_dscr, dtype: object

In [42]:
for e in df.eng_dscr.head():
    print(e.split('('))

['', 'FFS)']
['', 'GUZZLER)']
['', 'FFS)']

AttributeError: 'float' object has no attribute 'split'

In [43]:
for e in df.eng_dscr.head().fillna('hola'):  # relleno pero con strings
    print(e.split('('))

['', 'FFS)']
['', 'GUZZLER)']
['', 'FFS)']
['hola']
['', 'FFS,TRBO)']

In [39]:
# tipo de dato object es string

### 4 Nulos

In [44]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [61]:
df[df.trany.isna()].head() # dataframe donde trany sea nulo

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0,0,0.0,0.0,75.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,N,0,0,0

In [62]:
df[df.trany.isna()].trany.head()

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
Name: trany, dtype: object

In [63]:
df[df.trany.isna()].trany.to_list()[:5]

[nan, nan, nan, nan, nan]

In [64]:
type(df[df.trany.isna()].trany.to_list()[0])

float

In [66]:
type(df.trany[0])

str

In [68]:
type(np.nan)

float

In [69]:
None   # null

### 5 get dummies

In [72]:
df.fuelType.unique()

array(['Regular', 'Premium', 'Diesel', 'CNG', 'Gasoline or natural gas',
       'Gasoline or E85', 'Electricity', 'Gasoline or propane',
       'Premium or E85', 'Midgrade', 'Premium Gas or Electricity',
       'Regular Gas and Electricity', 'Premium and Electricity',
       'Regular Gas or Electricity'], dtype=object)

In [73]:
len(df.fuelType.unique())

14

In [74]:
df.fuelType[0]

'Regular'

In [77]:
pd.get_dummies(df.fuelType).head()

,CNG,Diesel,Electricity,Gasoline or E85,Gasoline or natural gas,Gasoline or propane,Midgrade,Premium,Premium Gas or Electricity,Premium and Electricity,Premium or E85,Regular,Regular Gas and Electricity,Regular Gas or Electricity
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0

### 6 groupby vs aggregate

In [87]:
df[df.fuelType=='CNG'].barrels08.mean()

0.11978875648009275

In [80]:
df.groupby('fuelType').mean()

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_47322/1819404471.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('fuelType').mean()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
fuelType,,,,,,,,,,,,,,,,,,,,,
CNG,0.119789,0.000000,0.0,0.000000,15.966667,2.170410,0.000000,0.000000,0.00000,0.000000,...,18.721790,0.000000,28.645022,0.000000,2003.200000,-3020.833333,0.000,0.000000,0.000000,0.000000
Diesel,17.294469,0.000000,0.0,0.000000,21.589464,3.494237,0.000000,0.000000,0.00000,0.000000,...,27.516907,0.000000,39.223629,0.000000,1993.090827,-1429.836512,0.000,0.000000,0.000000,0.000000
Electricity,0.243900,0.000000,0.0,6.037500,96.083333,80.918716,0.000000,0.000000,0.00000,39.061038,...,134.431747,0.000000,121.135368,0.000000,2011.816667,2793.750000,1.375,0.000000,0.000000,0.000000
Gasoline or E85,19.532409,6.034583,0.0,0.000000,15.368771,7.865230,11.180233,5.635158,0.00000,0.000000,...,19.039393,13.551031,30.069278,21.456762,2010.477575,-3130.398671,0.000,0.000000,0.000000,0.000000
Gasoline or natural gas,23.725940,0.137911,0.0,0.000000,13.700000,1.689110,13.000000,1.566710,0.00000,0.000000,...,11.801805,10.956520,18.186395,17.403075,2004.000000,-5300.000000,0.000,0.000000,0.000000,0.000000
Gasoline or propane,24.720750,8.157273,0.0,0.000000,12.000000,0.000000,10.500000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2002.500000,-5750.000000,0.000,0.000000,0.000000,0.000000
Midgrade,19.163168,0.000000,0.0,0.000000,14.851351,13.705797,0.000000,0.000000,0.00000,0.000000,...,18.230384,0.000000,30.868426,0.000000,2014.148649,-4010.135135,0.000,0.000000,0.000000,0.000000
Premium,17.854309,0.000000,0.0,0.000000,16.789184,5.827317,0.000000,0.000000,0.00000,0.000000,...,21.004060,0.000000,33.180812,0.000000,2005.484006,-4241.678329,0.000,0.000000,0.000000,0.000000
Premium Gas or Electricity,4.755412,0.264353,0.0,4.117647,30.705882,28.658712,86.882353,81.787794,0.00000,43.041176,...,41.529888,126.257547,46.362918,116.476888,2014.470588,1470.588235,0.000,55.411765,53.411765,54.411765
Premium and Electricity,8.135294,6.729094,0.0,2.620000,24.900000,24.723665,56.250000,56.462045,0.69894,50.600000,...,32.269820,80.071560,42.042015,89.763235,2015.700000,-425.000000,0.000,30.400000,35.450000,32.250000
Premium or E85,17.021126,5.377062,0.0,0.000000,17.305785,14.664688,12.438017,10.545898,0.00000,0.000000,...,21.616098,15.518285,34.526878,25.027011,2012.917355,-3706.611570,0.000,0.000000,0.000000,0.000000
Regular,17.458975,0.000000,0.0,0.000000,17.980380,2.670081,0.000000,0.000000,0.00000,0.000000,...,22.633103,0.000000,33.305234,0.000000,1997.504387,-2080.724597,0.000,0.000000,0.000000,0.000000
Regular Gas and Electricity,4.669536,3.547867,0.0,2.160625,43.125000,43.200425,96.625000,96.443125,0.08750,31.500000,...,59.505631,137.733031,58.046856,129.478369,2014.625000,3031.250000,0.000,56.812500,51.250000,54.437500
Regular Gas or Electricity,2.006844,0.186000,0.0,4.500000,43.000000,42.600000,113.000000,113.000000,0.00000,29.000000,...,58.700000,162.100000,61.100000,141.100000,2016.500000,3500.000000,0.000,82.000000,72.000000,77.000000

In [84]:
df.aggregate(['sum','min'])

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_47322/4203260843.py:1: FutureWarning: ['drive', 'eng_dscr', 'trany', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.aggregate(['sum','min'])

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
sum,663482.629216,8180.492733,0.0,890.47,678956,152989.2948,19684,12380.8414,15.3788,6993.0246,...,35339.4972,Two SeatersTwo SeatersSubcompact CarsVansCompa...,75688437,-100624500,165.0,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,Tue Jan 01 00:00:00 EST 2013Tue Jan 01 00:00:0...,2623,2581,2595
min,0.060000,0.000000,0.0,0.00,6,0.0000,0,0.0000,0.0000,0.0000,...,0.0000,Compact Cars,1984,-22250,0.0,Fri Apr 11 00:00:00 EDT 2014,Fri Apr 01 00:00:00 EDT 2016,0,0,0

In [83]:
df.shape

(37843, 83)

In [92]:
df.groupby('fuelType').agg({'barrels08': sum,
                            'barrelsA08': 'mean',
                            'charge120': lambda x: sum(x)+5
                           })

                                 barrels08  barrelsA08  charge120
fuelType
CNG                               7.187325    0.000000        5.0
Diesel                        19041.210066    0.000000        5.0
Electricity                      29.268000    0.000000        5.0
Gasoline or E85               23517.020087    6.034583        5.0
Gasoline or natural gas         474.518809    0.137911        5.0
Gasoline or propane             197.766000    8.157273        5.0
Midgrade                       1418.074404    0.000000        5.0
Premium                      178614.503159    0.000000        5.0
Premium Gas or Electricity       80.842002    0.264353        5.0
Premium and Electricity         162.705886    6.729094        5.0
Premium or E85                 2059.556220    5.377062        5.0
Regular                      437801.250996    0.000000        5.0
Regular Gas and Electricity      74.712573    3.547867        5.0
Regular Gas or Electricity        4.013688    0.186000        5.0

### 7 Multifiltro

In [93]:
df.fuelType.unique()

array(['Regular', 'Premium', 'Diesel', 'CNG', 'Gasoline or natural gas',
       'Gasoline or E85', 'Electricity', 'Gasoline or propane',
       'Premium or E85', 'Midgrade', 'Premium Gas or Electricity',
       'Regular Gas and Electricity', 'Premium and Electricity',
       'Regular Gas or Electricity'], dtype=object)

In [97]:
df[(df.fuelType=='Regular') | (df.fuelType=='Diesel')].shape

(26177, 83)

In [100]:
filtro=['Regular', 'Diesel']

df[df.fuelType.isin(filtro)].shape

(26177, 83)

In [105]:
df[(df.fuelType=='Regular') | (df.fuelType=='Diesel') & (df.displ<2)].shape

(25223, 83)

In [106]:
filtro_combustible=['Regular', 'Diesel']

df[(df.fuelType.isin(filtro_combustible)) & (df.displ.isin([1.0, 2.0]))].shape

(2679, 83)

### 8 Drop duplicates

In [109]:
df.duplicated().any()   # no hay

False

In [110]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [112]:
muestra = df[['fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA']]

In [113]:
muestra.duplicated().any()

True

In [114]:
muestra.head()

   fuelCostA08 fuelType         fuelType1  ghgScore  ghgScoreA
0            0  Regular  Regular Gasoline        -1         -1
1            0  Regular  Regular Gasoline        -1         -1
2            0  Regular  Regular Gasoline        -1         -1
3            0  Regular  Regular Gasoline        -1         -1
4            0  Premium  Premium Gasoline        -1         -1

In [115]:
muestra.shape

(37843, 5)

In [117]:
muestra.drop_duplicates(inplace=True)

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_47322/2738024278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muestra.drop_duplicates(inplace=True)

In [118]:
muestra.shape

(160, 5)

### 9 transformacion de strings

In [123]:
df.trany.str.replace('Man', 'Woman').head()

0     Womanual 5-spd
1     Womanual 5-spd
2     Womanual 5-spd
3    Automatic 3-spd
4     Womanual 5-spd
Name: trany, dtype: object

In [148]:
def limpiar(x):
    
    try:
        x = x.replace('Man', 'Woman')

        return x 
    
    except AttributeError:  # el objeto float no tiene replace
        return 'hola'

In [142]:
def limpiar(x):
    
    if type(x)!=float:
        x = x.replace('Man', 'Woman')

        return x 
    
    else:
        
        return 'hola'

In [143]:
x = []

var = x if x else 'hola'

var

'hola'

In [144]:
limpiar('WoManual 5-spd')

'WoWomanual 5-spd'

In [150]:
df.trany.apply(limpiar).head()

0     Womanual 5-spd
1     Womanual 5-spd
2     Womanual 5-spd
3    Automatic 3-spd
4     Womanual 5-spd
Name: trany, dtype: object

In [125]:
df.trany.str.split('Man').head()

0        [, ual 5-spd]
1        [, ual 5-spd]
2        [, ual 5-spd]
3    [Automatic 3-spd]
4        [, ual 5-spd]
Name: trany, dtype: object

In [126]:
df.trany.str.lstrip('Man').head()

0          ual 5-spd
1          ual 5-spd
2          ual 5-spd
3    Automatic 3-spd
4          ual 5-spd
Name: trany, dtype: object

In [151]:
'    odsngodfnoifeo'.lstrip()

'odsngodfnoifeo'

In [153]:
'a    odsngodfnoifeo'.lstrip('a     ')

'odsngodfnoifeo'

In [154]:
'odsngodfnoifeo   '.rstrip()

'odsngodfnoifeo'

In [155]:
'       odsngodfnoifeo      '.strip()

'odsngodfnoifeo'

In [158]:
'a       odsngodfnoifeo      '.strip()

'a       odsngodfnoifeo'

In [160]:
'a       odsngodfnoifeo  a    '.strip('a     ')

'odsngodfnoifeo'